body{
    font-family: "Open Sans", sans-serif;
  

  
}
.head{
    text-align: center;
}
.head h1{
    font-size: 35px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
}
.head img{
   margin-left: 320px;
   margin-top: 50px;
}
.coffemenu h1{
    text-align: center;
    margin-top: 60px;
    font-size: 35px ;
    font-weight: 500;
color: #996639;
margin-left: 5px;
margin-bottom: 40px;
}
.head h1{
    color: black;
    font-size: 40px;
    font-weight: 500;
}
.head2 h1{
    text-align: center;
    margin-top: 40px;
    color: #996639;
    margin-bottom: 20px;

}

.coffeepic{
    display: flex;
  gap: 100px;
    justify-content: center;

}
.contentcoffee {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 300px;
   color: rgba(0, 0, 0, 0.766);
  
}
.contentcoffee2 {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 400px;
    color: rgba(0, 0, 0, 0.808);
}
.contentcoffee h1{
    font-size: 28px;
    font-weight: 500;
}
.contentcoffee2 h1{
    font-size: 28px;
    font-weight: 500;
}
#line{
    margin-top: 90px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.943);
}
.ourcafe h1{
    margin-top: 100px;
    text-align: center;
    color: #996639;
    font-size: 30px ;
    font-weight: 500;
}
.ourcafe p{
    margin-top: 30px;
    text-align: center;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.708);
}
.line2{
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 400px;
    margin-right: 400px;
    color: rgba(0, 0, 0, 0.759);
}
.ourcafe2 h1{
    margin-top: 70px;
    text-align: center;
    color: #996639;
    font-size: 35px;
    font-weight: 400;
}
.ourcafe2 p{
    margin-top: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.647);
    font-size: 25px;
    font-weight: 500;

}
.footcon p{
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.619);
    font-size: 20px;
}
.line3{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 400px;
    margin-right: 400px;
    color: rgba(0, 0, 0, 0.759);
}
.lastimg{
    display: flex;
    height: 13vh;
  margin-left: 550px;
  margin-top: 40px;
  gap: 20px;
}
#pic2{
    height: 11vh;
    margin-top: 6px;
}
#pic3{
    height: 13vh;
    margin-top: 2px;
}
#menu1{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
    
  
    
}
#menu1 h1{
    color: black;
}
#menu2{
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
    color: black;
   
      
            
}
#menu2 h1{
    margin-right: 60px;
}
#menu3{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;            
}
#menu3 h1{
    margin-right: 60px;
    color: black;
}
#menu4{
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;            
}
#menu4 h1{
    margin-right: 60px;
    color: black;
}
#menu5{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;            
}
#menu5 h1{
    margin-right: 60px;
    color: black;
}
#menu6{
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;            
}
#menu6 h1{
    margin-right: 60px;
    color: black;
}
#menu7{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;            
}
#menu7 h1{
    margin-right: 60px;
    color: black;
}
#menu8{
    display: flex;
   justify-content: space-evenly;
    background-color: whitesmoke;            
}
#menu8 h1{
    margin-right: 60px;
    color: black;
}
.cofmenu{
    margin-left: 25px;
    margin-right: 25px;

}
.tea2{
    margin-top: 50px;
}




